* {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
/* .main-image-container{

} */
/* .thumbnail-container{

} */
.thumbnail-image {
  max-width: 20%;
  height: 100px;
}
.thumbnail-container {
  position: fixed;
  top: 80px;
  margin-inline: 25% 25%;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: left;
  max-width: 50%;
  overflow-x: scroll;
  border: 4px, solid, white;
}
.main-image-container img {
  width: 100%;
  height: 100vh;
}
@media (max-width: 500px) {
  .thumbnail-container {
    top: 95%;
  }
  #minimise-thumbnail-bar {
    top: 94%;
  }
  #move-right {
    right: 8%;
  }
}
#move-left,
#move-right {
  position: fixed;
  background: none;
  border: none;
}
/* #move-left,
#move-right,
#minimise-thumbnail-bar img {
  height: 5px;
  width: 5px;
} */
#move-left {
  left: 20px;
  top: 40vh;
}
#move-right {
  right: 52px;
  top: 40vh;
}
#minimise-thumbnail-bar {
  position: fixed;
  top: 30px;
  left: calc(98% / 2);
  background: none;
  border: none;
  height: 0;
}
