* {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
/* .main-image-container{

} */
/* .thumbnail-container{

} */
.thumbnail-image {
  max-width: 20%;
  height: 100px;
}
.thumbnail-container {
  position: fixed;
  top: 80px;
  margin-inline: 25% 25%;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: left;
  max-width: 50%;
  overflow-x: scroll;
  border: 4px, solid, white;
}
.main-image-container img {
  width: 100%;
  height: 100vh;
}
#move-left {
  left: 5px;
  /* background-image: url(./images/leftArrow\ -\ Copy.png); */
}
#move-right {
  right: 5px;
  /* background-image: url(./images/RightArrow\ -\ Copy.png); */
}
#minimise-thumbnail-bar {
  position: fixed;
  top: 30px;
  left: calc(98% / 2);
  background: none;
  border: none;
  /*background-image: url(./images/minimise\ -\ Copy.png);*/
}
#move-left,
#move-right {
  position: fixed;
  background: none;
  border: none;
  top: 40vh;
}
/* #move-left,
#move-right,
#minimise-thumbnail-bar {
  background-repeat: no-repeat;
  width: 5%;
  height: 5%;
} */
@media (max-width: 800px) {
  .thumbnail-container {
    top: 88%;
    margin-inline: auto-fit;
    max-width: 100%;
  }
  .thumbnail-image {
    max-height: 50px;
  }
  #minimise-thumbnail-bar {
    top: 80vh;
  }
}
